<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <meta-data
        android:name="firebase_analytics_collection_enabled"
        android:value="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InclusesApp"
        tools:targetApi="31">
        <activity
            android:name=".Presentation.AreaRestritaActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Enterprise.EditAccountEnterpriseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Enterprise.EnterpriseProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.IntroVerifyNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.VerifyNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.CoursesViewed"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.CreatePost"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.EditAccount"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.ViewVacancie"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.ScreenConfigurations"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.CourseClass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.CourseInitialPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.AddMaterialCourse"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.EditMaterialCourse"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Enterprise.EditVacancie"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Enterprise.CreateVacancieEnterprise"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Enterprise.RegisterEnterprise"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Enterprise.HomeEnterprise"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.CreateCourseStep2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.CreateCourseActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.UserPerfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.JobsOfInterest"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.RegisterUser2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.RegisterUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.LoginUser"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.Login"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Presentation.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>